

.photo {
    float: left;
    margin-right: 80px; 
    margin-bottom: 20px; 
    margin-top: 20px;
    
}

.photo img {
    width: 300px; 
    height: 100%; 
}
.phots{
    float: left;
    margin-right: 80px; 
    margin-bottom: 20px; 
    margin-top: 20px;
}
.phots img{
    width: 395px;
    height: 100%;
}
.photp{
    float: left;
    margin-right: 80px; 
    margin-bottom: 20px; 
    margin-top: 20px;
}
.photp img{
    width: 245px;
    height: 100%;
}